{% extends '_layouts/cp.html' %}

{% set title = title|default('HubSpot Features') %}
{% set selectedSubnavItem = 'features' %}

{% set sidebarItems = {} %}
{% for feature in features %}
    {# @var \venveo\hubspottoolbox\features\HubSpotFeature feature #}
    {% set sidebarItems = sidebarItems|merge({
        (feature.handle): {
            label: feature.name,
            url: feature.cpEditUrl
        }
    }) %}
{% endfor %}

{% set selectedSidebarItem = selectedSidebarItem|default(null) %}
{% if feature %}
    {% set selectedSidebarItem = feature.handle %}
{% endif %}

{% block sidebar %}
    <nav>
        <ul>
            {% for k,v in sidebarItems %}
                <li><a href="{{ v.url }}" {% if k == selectedSidebarItem %}class="sel"{% endif %}><span class="label">{{ v.label }}</span></a></li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}