{% extends 'hubspot-toolbox/_ecommerce/layout' %}
{% import "_includes/forms" as forms %}

{% set selectedSidebarItem = 'contacts' %}

{% set content %}
    <div id="field-mapper"></div>
    {% js %}
    new Craft.HubSpot.FieldMapper({
        container: '#field-mapper',
        props: {
            objectType: 'contacts',
            context: 'ecomm.order'
        }
    });
    {% endjs %}
{% endset %}

{% do craft.app.view.registerAssetBundle('venveo\\hubspottoolbox\\assetbundles\\hubspotcp\\HubSpotCpAsset') %}